* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: lavender;
  text-rendering: optimizeLegibility;
}
.image-box {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.image-box img {
  width: 600px;
}
header {
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  height: 100vh;
}
@keyframes title {
  50% {
    color: rgb(207, 53, 53);
  }
  70% {
    color: yellow;
  }
  100% {
    color: yellowgreen;
  }
}
h1 {
  animation: title 1s infinite;
  text-align: center;
}
.left {
  font-size: 180%;
  padding-left: 20px;
  width: 25%;
  margin-top: -300px;
}
.right {
  margin-top: -240px;
  font-size: 180%;
  padding-right: 40px;
  width: 25%;
  float: right;
}
.bottom {
  font-size: 150%;
  display: flex;
  justify-content: center;
  margin-top: 170px;
}
