*{
    box-sizing:border-box;
      }
    
    .content {
      width: 30%;
      border: 2px solid black;
      padding: 20px;
      overflow: hidden;
      
    }
    img {
      width: 100%;
    }
    .container {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
    .image1 {
      opacity: 1;
      transition: opacity .5s linear;
    }
    .content:hover .image1 {
      opacity: .5;
    }
    .image2 {
      transition: all .5s linear;
    }
    .image2:hover {
    transform: translate(0,-5px);
    box-shadow: 5px 5px 5px 5px rgba(115, 139, 43, 0.5);
    }
    .image3 {
      transition: all 1s linear;
     
    }
    .image3:hover {
      transform: scale(.5);
      border-radius: 50%;  
    }
    @keyframes title {
      20% {color: lightcoral;}
      40%{color: lightseagreen;}
      60% {color: lightslategray;}
      80% {color: lawngreen;}
      100% {color: magenta;}
    }
    h1 {
      animation: title 1s infinite;
    }
   
    
    /* ............................. */
    /* ............login.......... */
    /* ............................ */
    .btn {
      text-decoration: none;
      background-color: mediumaquamarine;
      padding: 13px 25px;
      border-radius: 6px;
      transition: all .5s;
    }
    .animation .btn:hover {
      border-radius: 35px;
      background-color: mediumspringgreen;

    }
    .animation1 img {
      width: 200px;
      
    }
   .animation {
     margin: 50px 50px;
   }
 
.animation-image2 img:hover {
  transform: scale(1.2);
  
}
.animation-image2 img {
  transition: all .5s linear;
}
.animation-image img:hover {
  transform: scale(1.5);
}
.animation-image img {
  transition: all .5s linear;
}
.animation-image1 img:hover {
  transform: scale(1.5);
}
.animation-image1 img {
   transition: all .5s linear;
   
}
@keyframes title1 {
  10% {transform: scale(1.5);}
  15% {transform: scale(1);}
  20% {transform: scale(1.5);}
  25% {transform: scale(1);}
  30% {transform: scale(1.5);}
  60% {transform: scale(1);}
}
.heart img {
  margin: 50px 50px;
  width: 200px;
  animation: title1 3s infinite;
}
@keyframes title2 {
  30% {background-color: mediumspringgreen; content: "skdjhkjs";}
  
}
.ahihi::after {
  animation: ahihii 2s ease infinite;
  content: "";
}
@keyframes ahihii {
  10% {background-color: red; content: "coding";}
  40% {background-color: royalblue; content: "teaching";}
  80% {background-color: salmon; content: "learning";}
  100% {background-color: sandybrown; content: "coding";}

}


